/* add customizations?*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* used on textarea calendar entry column */
textarea{
  resize: none;
  color: #000000;
  /* border-left: 1px solid black; */
  padding: 10px;
  margin-top: 3px;
}

/* add customizations? */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: purple;
  border-radius: 0;
  border-bottom: 10px solid black;
}

/* used by default when building page with row */
.row {
  height: 70px;
  border-top: 1px solid white;
  border-radius: 15px;
}

/* used on both div.col-sm-2 for the black border, centering */
.dashedDivider {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  padding-top: 25px;
  text-align: center;
}

/* dynamically allocate these in script.js based on current time */
.past {
  background-color: lightgray;
  color: grey;
}

.present {
  background-color: purple;
  font-weight: bold;
  color: white;
}

.future {
  background-color: plum;
  color: white;
}

/* used on "button" column */
.saveBtn {
  border-left: 1px solid purple;
  border-right: 1px solid purple;
  border-radius: 15px;
  background-color:  white;
  color: purple;
}

/* nice. I like :hover */
/* using here to make non-buttons kind of look like a button when mouse is detected */
.saveBtn:hover {
  font-size: 30px;
  transition: all .3s ease-in-out;
}

#currentDay {
  color: white;
  background: purple;
  border-radius: 15px;
  padding: 5px;
}